.animate{
   
    animation: banner 0.8s  ;
    
}
@keyframes banner {
    from{
        transform: translateY(-100%);
    }
    to{
     transform: translateY(0);
    }
}
.animate_arrow{
    animation-name: arrow;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes arrow {
    from{transform: translateY(0);}
    to{transform: translateY(3%);}
}
